._7sj .setup_options {
	zoom: 66% !important;
	margin: 4px 45px 51px 35px;
}
.ytp-button.setup  {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    padding: 0;
}

.setup_options {
	right: 0px;
	bottom: 0;
	margin: 4px 40px 40px 35px;
	zoom:90%;
}
._3s02{/* width: 75px !important; */}
