.ytp-button.setup  {
    top: 2px;
    left: 0;
    float: right;
    display: block !important;
    position: relative;
    padding: 0;
    min-width: 36px;
    min-height: 36px;
}

.setup_options {
	right: 0px;
	bottom: 16px;
	margin: 4px 10px 45px 35px;
}